{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
{% include 'modules/meta_head.html' %}

{% include 'modules/navbar.html' %}
<body>

  <div class="main-content-wrap">
    <h1 style="margin: 30px; margin-top: 50px;">Sign Up</h1>

    <form class="add-job-form" action="{% url 'jobs_listings' %}" method="POST">
      {% csrf_token %}
      <fieldset class="uk-fieldset">

          <legend class="uk-legend">Create an account with us</legend>

          <p>
          Enter your details below to get access out member exclusive content on our platform.
          </p>

          {% for field in form %}

          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">{{field.label}}</label>
            <div class="uk-form-controls">
              <!-- <input class="uk-input" id="form-horizontal-text" type="text" > -->
              {{field|add_class:"uk-input"|attr:"id:form-horizontal-text"}}
            </div>
          </div>
          {% endfor %}

        <input type="submit" class="uk-button uk-button-default" />
        <a href="{% url 'login' %}" class="uk-button uk-button-default">Have an account already?</a>

      </fieldset>
  </form>
  </div>



    {% include 'modules/footer.html' %}

    {% include 'modules/scripts.html' %}

</body>


</html>
