html, body {
  min-height: 100%;
  width: 100%;
}

body {
  background-color: white;
}

div.main-content-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

/* TEXT DEFAULTS */
h1 {
  font-family: "Montserrat", sans-serif;
  color: #0061a9;
  font-size: 50px;
}

/* NAVIGATION STYLING */
nav {
  position: fixed !important; /* Overwrite default UIKIT relative positioning */
  width: 100%;
  box-shadow: 0 2px 4px rgba(130, 139, 146, 0.22);
  z-index: 12;
  background-color: #ffffff;
}

.uk-navbar-nav > li > a {
    color: #1c4b70cc;
}

.uk-navbar-nav >li.uk-active > a, .uk-navbar-nav > li > a:hover {
    color: #1b4c71;
}

/* JOBS PAGE STYLES */
div.jobs {
  margin-top: 30px;
  margin-bottom: 80px;
}

/* Adjust content wrap to allow for two columns. */
div.jobs-content {
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

/* JOB CARD STYLING */
div.job-card {
  margin: 30px;
}

div.jobs-deadline {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 25px;
}

li.job-deadline-item {
  display: flex;
  align-items: center;
}

div.job-deadline-num-wrap {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px solid darkgrey;
  height: 50px;
  width: 50px;
  justify-content: center;
  margin-right: 15px;
  border-radius: 5px;
}


/* Add jobs form */
form.add-job-form {
  margin: 30px;
}

/*  FOOTER STYLING  */
footer {
  background-color: #0061a9;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 60px;
  padding-left: 25px;
  padding-right: 25px;
}

div.footer-title-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}


div.footer-title-wrap > h2 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  margin-bottom: auto;
  margin-top: auto;
}

div.footer-social-icon-wrap {
  margin-left: auto;
  display: flex;
  align-items: center;
}

div.footer-social-icon-wrap a {
  margin: 5px;
}

a.footer-icon {
  /* Dotted border */
  border: 1px solid white;
  border-radius: 100%;
  padding: 8px;
}

.fadeOnHover {
  fill: rgba(255,255,255,0.8);
  color: rgba(255,255,255,0.8);
  transition: 0.3s ease-in-out;
}

.fadeOnHover:hover {
  fill: white;
  color: white;
}
