{% load static %}
<nav class="uk-navbar-container uk-navbar-transparent uk-fixed" uk-navbar>
  <img style="padding: 18px;" class="uk-navbar-item uk-logo" src="{% static "common/img/warwick_tech_black.svg" %}" />

  <div class="uk-navbar-left">

  <ul class="uk-navbar-nav">
    <li class="uk-active"><a href="#">About</a></li>
    <li>
      <a href="#">Sponsors</a>
      <div class="uk-navbar-dropdown">
        <ul class="uk-nav uk-navbar-dropdown-nav">
          <li class="uk-active"><a href="#">Sponsor List</a></li>
          <li><a href="#">Sponsor 1</a></li>
          <li><a href="#">Sponsor 2</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#">Events</a></li>
    <li><a href="#">Team</a></li>
    <li><a href="#">Sign Up</a></li>
    <li><a href="#">Resources</a></li>


  </ul>

</div>
<div class="uk-navbar-right">
  <ul class="uk-navbar-nav">
    <li>
      <a href="/logout">{{ request.user.username.title }}</a>
    </li>
  </ul>
</div>
</nav>
